#map {
    height: 100vh;
}

.leaflet-container {
    width: 100vw;
    height: 100vh;
}

#info-btn{
    margin:30px;
    pointer-events: auto;
}

#infoIcon{
    height:50px;
}

#taxiNumbers{
    font-size: 1.5rem;
    padding-left: 1rem;
}

.social-media{
    width:32px;
}